* {
  margin: 0;
  padding: 0;
}
/* ------bagian navbar-------- */
body {
  background-image: url("/img/ellipse.png");
  background-repeat: no-repeat;
}
.navbar-menu {
  margin-top: 15px;
  max-width: 100%;
  /* background-color: cornflowerblue; */
  height: 50px;
  display: flex;
  justify-content: center;
}
.navbar-menu .menu {
  text-decoration: none;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  /* background-color: antiquewhite; */
}
.navbar-menu .menu.navbar-brand {
  margin-top: -4px;
}
.navbar-menu .menu.navbar-brand img {
  width: 100%;
  height: 85%;
}

.menu.search {
  border: none;
  margin-top: 2px;
}
input[type="text"] {
  width: 662px;
  height: 46px;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  font-family: "Poppins", sans-serif;
  background-color: #e8edf1;
  background-image: url("/img/loupe.png");
  background-size: 20px 20px;
  background-position: left 10px bottom 50%;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0px 0px 7px 0px #2a6b84;
}
.menu.program.dropdown .btn {
  margin-top: -5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  font-family: "Poppins", sans-serif;
}
.menu.masuk {
  background-color: white;
  color: #2a6b84;
  width: fit-content;
  height: fit-content;
}
.menu.daftar {
  background-color: #2a6b84;
  color: white;
  height: fit-content;
}
.menu.btn.daftar,
.menu.btn.masuk,
.menu.btn.kategori,
.menu.cart.btn {
  border-radius: 20px;
  margin-top: 8px;
}
.menu.btn.masuk:hover,
.menu.btn.kategori:hover,
.menu.kategori.btn:hover,
.menu.cart.btn:hover {
  background-color: #2a6b84;
  color: white;
}
.menu.btn.daftar:hover {
  background-color: white;
  color: black;
}
/* -----akhir navbar----- */

/* ----bagian container 1-----*/
.container-1 {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}
.container-1 .text {
  /* float: left; */
  width: 40%;
  height: 500px;
  /* background-color: cyan; */
}
.container-1 .text p {
  text-align: left;
}
.container-1 .text .upgrade-skill {
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  font-family: "Open Sans", sans-serif;
  margin: 100px 0 30px 30px;
}
.container-1 .text .upgrade-skill a {
  text-decoration: none;
  color: #2a6b84;
}
.container-1 .text .upgrade-skill a:hover {
  text-decoration: none;
  color: #3d829d;
}

.container-1 .text-info {
  margin: 10px 0 30px 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
  color: #454141 !important;
}
.container-1 .picture {
  /* float: right; */
  width: 48%;
}
.for-button a {
  display: inline-block;
  margin-left: 30px;
  width: 150px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
}
.for-button a.register {
  background-color: #2a6b84;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
}
.for-button a.instructor {
  background-color: white;
  color: #2a6b84;
  border: 2px solid #2a6b84;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
}
/* ----akhir container 1-----*/

/* container 2 */
.container-2 {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
}
.nav-tab-content nav .nav-link {
  border-radius: 3px;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  color: #121212;
}
.nav-tab-content nav .nav-link:focus {
  background-color: #f8f8f8;
  border-top: 5px solid #2a6b84;
}
.slide.item {
  margin-left: -55px;
  width: 110%;
  height: 360px;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-sizing: border-box;
  padding: 10px;
}
.content-item.satu {
  margin: 10px;
  float: left;
  width: 23%;
  height: 100px;
}
.card-body .bottom img {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}
.card-body .bottom img.user {
  width: 10px;
  height: 10px;
}
.card-body .bottom {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  font-family: "Poppins", sans-serif;
}
.slider a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  border-bottom: 3px solid #2a6b84;
}
.slider a:hover {
  color: #2a6b84;
}
.mySlides {
  display: none;
}
/* akhir container 2 */

/* awal container 3 */
.container-3 {
  margin-top: 270px;
  width: 100%;
  height: 200px;
  background-color: rgb(227, 248, 248);
}

/* akhir container 3 */
